{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/images/favicon.png ' %}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static '/css/plugins.css' %}" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}" />
</head>
<body>
    
    <div class="text-center mt-3 pt-3">

        <img src="{% static '/images/successIcon.jpg ' %}" class="image-fluid mt-5" style="height: 200px;">
        <h2 class="mt-2">Your password is reset, Now you can log in with the new password.</h2>

        <a class="btn btn-sm btn-success mt-4" href="/login">Login</a>
    </div>
</body>
</html>